#logo {
  padding: 5px;
  max-height: 45px;
}

.btn-primary {
  background-color: #cf7500;
  border-color: #f05f40;
  color: #fff;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #cf7500;
  border-top: 0;
}

.donate {
  background-color: #cf7500;
  max-width: 80%;
  padding: 40px;
  margin-top: -80px;
}

a:hover {
  color: #cf7500;
}

.section-heading {
  color: var(--bs-body-color);
}

#donatebtn {
  color: #cf7500;
}

@media (min-width: 992px) {
  .donate {
    margin-top: -180px;
    border-radius: 20px;
  }
}

#services {
  background-color: #e4e4e4;
}

#blogs {
  background: url(../../assets/img/forestbg_edited.jpg);
}

.prgms {
  background-color: rgb(255,255,255,0.4);
}

#programs1 {
  border-radius: 20px 20px 0 0;
  padding-top: 2%;
}

#programs2 {
  border-radius: 0 0 20px 20px;
  padding-bottom: 2%;
}

.text-primary {
  color: #cf7500 !important;
}

.workshopimage {
  max-width: 80%;
  margin-top: -20px;
  margin-bottom: 10px;
  border-radius: 5%;
}

#ngolink {
  text-decoration: none;
}

.workshopheading {
  margin-top: 10px;
}

.bg-primary {
  background-color: #ffffff !important;
}

