/* Importing Fonts */

/* Removing Default Margin, Padding */

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* Styling Main Container */

.gallery-container {
  width: 80%;
  height: 450px;
  margin: 120px auto;
  display: flex;
  border-radius: 20px;
}

/* Styling Columns */

.column {
  height: 100%;
  flex: 1;
  color: white;
  box-sizing: border-box;
  padding: 25px;
  position: relative;
  transition: 0.6s;
}

/* Styling All Items */

.column:nth-child(1) {
  background-image: url("../../assets/img/internship_gallery.jpg");
  background-size: auto 100%;
  opacity: 0.8;
}

.column:nth-child(2) {
  background-image: url("../../assets/img/thumbnails/bannercloth.jpg");
  background-size: auto 100%;
  opacity: 0.8;
}

.column:nth-child(3) {
  background-image: url("../../assets/img/thumbnails/bannerfood.jpg");
  background-size: auto 100%;
  opacity: 0.8;
}

.column:nth-child(4) {
  background-image: url("../../assets/img/header.jpg");
  background-size: auto 100%;
  opacity: 0.90;
}

/* Styling Heading Of Item */

.galleryheading {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 20px;
  padding: 10px;
}

.caption {
  font-size: 1rem;
  margin: 50px 0;
  border-radius: 20px;
  background-color: rgb(0,0,0,.3);
  padding: 10px;
}

.caption button {
  border: 1px solid white;
  background: none;
  outline: none;
  padding: 8px 18px;
  color: white;
  border-radius: 30px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 13px;
}

/* Styling Image Of Item */

.column img {
  width: 195px;
  right: 0;
  bottom: 0;
  position: absolute;
}

/* Giving Hover Effect To Columns */

.column:hover {
  flex-grow: 2.5;
}

.column:hover h2 {
  text-align: center;
}

#gallerycover {
  margin-bottom: -120px;
  margin-top: -120px;
}

#gallerysection {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url("../../assets/img/galleryBG.jpg");
  background-size: 100%;
}

